# -----------------------------
# Artifacts
# -----------------------------
*.o
*.obj
*.dll
*.exe
*.lib
*.a

# -----------------------------
# Build directories
# -----------------------------
bin/
build/
out/

# -----------------------------
# Other directory junk
# -----------------------------
plugins/
proxy/

# -----------------------------
# OS junk files
# -----------------------------
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# -----------------------------
# IDE stuff
# -----------------------------
.vscode/
.vs/